<p>This email was sent because too many failed login attempts was made to your account.
For security reasons your account has been locked until {{ context['expires'] }}.
You can unlock your account with the token provided below.
</p>
<br>
<p>To unlock your account, please provide your username and the one time password </p> 
<a href="{{ context['unlock_url'] }}">here.</a>
<br>
<br>
<p>Your one time password for unlocking your account:</p>
<br>
<p><b>{{ context['token']  }}</b></p>
<br>
<br>
<p>Without any action the account stays locked until {{ context['expires'] }}.</p>
<br>
<p><i>-- This message was sent automatically by flask_tutorial --</i></p>
<br>