{% extends "base.html" %}
{% block title %}Log Out{% endblock %}
{% block nav %}
<ul>
    <li class="nav-item"><h1>Flask Tutorial App</h1></li>
    {% if g.user %}
    <li class="nav-item"><h2>{{ g.user.username }}</h2></li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
<br>
<h1 class="center">Are you sure you want to log out?</h1>
<br>
<form class="center" id="logout-form" method='POST'>
    <input name="csrf_token" value="{{ csrf_token }}" hidden>
    <input type="submit" value="Yes, Log Out">
</form>
<a class="center" href="{{ url_for('index') }}">Cancel</a>
{% endblock %}