{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block nav %}
<ul>
    <li class="nav-item"><h1>Flask Tutorial App</h1></li>
    {% if g.user %}
    <li class="nav-item"><a href="{{ url_for('index') }}">{{ g.user.username }}</a></li>
    <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
    <li class="nav-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li class="nav-item"><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
<div class="form-container">
    
    {% if g.user %}
        <h1>Change your password</h1>
    {% else %}
        <h1>Reset password</h1>
    {% endif %}
    
    <form method='POST'>
        {% if g.user %}
            <label for="password">Current Password:</label>
            <br>
            <input type="password" name="password" id="password" required>
            <br><br>
        {% else %}
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" id="email" required>
            <br><br>
            
            <label for="username">Username:</label>
            <br>
            <input type="text" name="username" id="username" required>
            <br><br>

            <label for="otp">One Time Password:</label>
            <br>
            <input type="text" name="otp" id="otp" required>
            <br><br>
        {% endif %}
        
        <label for="new-password1">New Password:</label>
        <br>
        <input type="password" name="new-password1" id="new-password1" required>
        <br><br>
        
        <label for="new-password2">Verify the new password:</label>
        <br>
        <input type="password" name="new-password2" id="new-password2" required>
        <br><br>
        
        <input type="text" name="csrf_token" value="{{ csrf_token }}" hidden>
        <input type="submit" value="Reset password">
    </form>
</div>
{% endblock %}