<p>This email was sent because password reset was requested in the
flask_tutorial website. This email contains a one time password that can be used to reset the password.
</p>
<br>
<p>To reset your password insert your account's username, email and the password below</p> 
<a href="{{ context['password_reset_url'] }}">here.</a>
<br>
<br>
<p>Your one time password for resetting the current password:</p>
<br>
<p><b>{{ context['token']  }}</b></p>
<br>
<br>
<p>This password is temporary and it expires {{ context['expires'] }}.</p>
<br>
<p><i>-- This message was sent automatically by flask_tutorial --</i></p>
<br>