{% extends "base.html" %}
{% block title %}Unlock Account{% endblock %}
{% block nav %}
<ul>
    <li class="nav-item"><h1>Flask Tutorial App</h1></li>
    <li class="nav-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li class="nav-item"><a href="{{ url_for('auth.register') }}">Register</a></li>
</ul>
{% endblock %}

{% block body %}

<div class="form-container">
    <h1>Reset your password</h1>
    <p>Insert your account's username and email and press submit.
    We will send you a one time password you can use to reset your password.
    </p>
    <form method="POST">
        <label for="username-field">Username:</label>
        <br>
        <input style="width: 90%; margin: 15px;" id="username-field" type="text" name="username" required>
        <br>
        <label for="email-field">Email:</label>
        <br>
        <input style="width: 90%; margin: 15px;" id="email-field" type="email" name="email" required>
        <br>
        <br>
        <input name="csrf_token" value="{{ csrf_token }}" hidden>
        <input type="submit" value="Send">
    </form>

    <a href="{{ url_for('auth.reset_password') }}" style="text-decoration: underline; color: darkslategray;">Reset password</a>
</div>
{% endblock %}